*.idb
*.pdb
*.obj
*.map
PTS.txt
syserr.txt
syslog.txt
db.exe
game.exe
qc.exe
dump_proto.exe
lzo.lib

_Other
Extra

Binary/Client/.vs
Binary/Client/bin
Binary/Client/Release
Binary/Client/CWebBrowser/Release
Binary/Client/EffectLib/Release
Binary/Client/EterBase/Release
Binary/Client/EterGrnLib/Release
Binary/Client/EterImageLib/Release
Binary/Client/EterLib/Release
Binary/Client/EterLocale/Release
Binary/Client/EterPack/Release
Binary/Client/EterPythonLib/Release
Binary/Client/GameLib/Release
Binary/Client/MilesLib/Release
Binary/Client/PRTerrainLib/Release
Binary/Client/ScriptLib/Release
Binary/Client/SpeedTreeLib/Release
Binary/Client/SphereLib/Release
Binary/Client/UserInterface/Release
Binary/Client/CWebBrowser/Debug
Binary/Client/EffectLib/Debug
Binary/Client/EterBase/Debug
Binary/Client/EterGrnLib/Debug
Binary/Client/EterImageLib/Debug
Binary/Client/EterLib/Debug
Binary/Client/EterLocale/Debug
Binary/Client/EterPack/Debug
Binary/Client/EterPythonLib/Debug
Binary/Client/GameLib/Debug
Binary/Client/MilesLib/Debug
Binary/Client/PRTerrainLib/Debug
Binary/Client/ScriptLib/Debug
Binary/Client/SpeedTreeLib/Debug
Binary/Client/SphereLib/Debug
Binary/Client/UserInterface/Debug
Binary/Client/CWebBrowser/Distribute_Aeldra
Binary/Client/EffectLib/Distribute_Aeldra
Binary/Client/EterBase/Distribute_Aeldra
Binary/Client/EterGrnLib/Distribute_Aeldra
Binary/Client/EterImageLib/Distribute_Aeldra
Binary/Client/EterLib/Distribute_Aeldra
Binary/Client/EterLocale/Distribute_Aeldra
Binary/Client/EterPack/Distribute_Aeldra
Binary/Client/EterPythonLib/Distribute_Aeldra
Binary/Client/GameLib/Distribute_Aeldra
Binary/Client/MilesLib/Distribute_Aeldra
Binary/Client/PRTerrainLib/Distribute_Aeldra
Binary/Client/ScriptLib/Distribute_Aeldra
Binary/Client/SpeedTreeLib/Distribute_Aeldra
Binary/Client/SphereLib/Distribute_Aeldra
Binary/Client/UserInterface/Distribute_Aeldra
Binary/Client/CWebBrowser/Distribute_Elonia
Binary/Client/EffectLib/Distribute_Elonia
Binary/Client/EterBase/Distribute_Elonia
Binary/Client/EterGrnLib/Distribute_Elonia
Binary/Client/EterImageLib/Distribute_Elonia
Binary/Client/EterLib/Distribute_Elonia
Binary/Client/EterLocale/Distribute_Elonia
Binary/Client/EterPack/Distribute_Elonia
Binary/Client/EterPythonLib/Distribute_Elonia
Binary/Client/GameLib/Distribute_Elonia
Binary/Client/MilesLib/Distribute_Elonia
Binary/Client/PRTerrainLib/Distribute_Elonia
Binary/Client/ScriptLib/Distribute_Elonia
Binary/Client/SpeedTreeLib/Distribute_Elonia
Binary/Client/SphereLib/Distribute_Elonia
Binary/Client/UserInterface/Distribute_Elonia

Client/Client/metin2distribute.exe
Client/Client/metin2distribute.map
Client/Client/metin2distribute.pdb
Client/Client/pack
Client/unpacked/ae_yw_patch
Client/unpacked/ae_patch
Client/unpacked/_artwork
Client/unpacked/el_patch
Client/unpacked/el_yw_patch
Client/unpacked/BGM
Client/unpacked/Effect
Client/unpacked/ETC
Client/unpacked/guild
Client/unpacked/icon
Client/unpacked/indoor
Client/unpacked/item
Client/unpacked/Monster
Client/unpacked/monster2
Client/unpacked/NPC
Client/unpacked/npc_mount
Client/unpacked/npc_pet
Client/unpacked/npc2
Client/unpacked/Outdoor
Client/unpacked/PC
Client/unpacked/pc2
Client/unpacked/Property
Client/unpacked/season1
Client/unpacked/season2
Client/unpacked/Sound
Client/unpacked/Terrain
Client/unpacked/textureset
Client/unpacked/Tree
Client/unpacked/uiloading
Client/unpacked/Zone

Source/Server/.vs
Source/Server/db/src/Debug
Source/Server/db/src/Release
Source/Server/game/src/Debug
Source/Server/game/src/Release
Source/Server/game/src/quest/Release
Source/Server/libexpreval/Release
Source/Server/libexpreval/Debug
Source/Server/libexpreval/libexpreval.lib
Source/Server/libgame/int
Source/Server/libgame/lib
Source/Server/liblua/5.0/int
Source/Server/liblua/5.0/lib
Source/Server/libpoly/Release
Source/Server/libpoly/Debug
Source/Server/libpoly/libpoly.lib
Source/Server/libsql/Release
Source/Server/libsql/Debug
Source/Server/libsql/libsql.lib
Source/Server/libthecore/int
Source/Server/libthecore/lib

Tools/DumpProto/.vs
Tools/DumpProto/dump_proto/.vs
Tools/DumpProto/dump_proto/Release
Tools/DumpProto/dump_proto/Debug
Tools/DumpProto/lzo/.vs
Tools/DumpProto/lzo/Release
Tools/DumpProto/lzo/Debug
Tools/EncryptionDLL/.vs
Tools/EncryptionDLL/Release
Tools/FoxFS/.vs
Tools/FoxFS/Release
Tools/FoxFS/FoxFS/.vs
Tools/FoxFS/FoxFS/Release
Tools/FoxFS/FoxFSArchiver/.vs
Tools/FoxFS/FoxFSArchiver/Release
Tools/FoxFS/FoxFSServer/.vs
Tools/FoxFS/FoxFSServer/Release
Tools/FoxFS/lz4/.vs
Tools/FoxFS/lz4/Release
Tools/FoxFS/xxhash/.vs
Tools/FoxFS/xxhash/Release
Tools/libjpeg-master/build/.vs
Tools/libjpeg-master/build/CMakeFiles
Tools/libjpeg-master/build/jpeg.dir
Tools/libjpeg-master/build/Release
Tools/libjpeg-master/build/Debug
Tools/libjpeg-master/build/Win32

WServer_FreeBSD

WServer_Windows/Server/auth/data
WServer_Windows/Server/auth/locale
WServer_Windows/Server/auth/log
WServer_Windows/Server/auth/mark
WServer_Windows/Server/auth/package
WServer_Windows/Server/auth/public
WServer_Windows/Server/ch1/core1/data
WServer_Windows/Server/ch1/core1/locale
WServer_Windows/Server/ch1/core1/log
WServer_Windows/Server/ch1/core1/mark
WServer_Windows/Server/ch1/core1/package
WServer_Windows/Server/ch1/core1/public
WServer_Windows/Server/ch1/core2/data
WServer_Windows/Server/ch1/core2/locale
WServer_Windows/Server/ch1/core2/log
WServer_Windows/Server/ch1/core2/mark
WServer_Windows/Server/ch1/core2/package
WServer_Windows/Server/ch1/core2/public
WServer_Windows/Server/ch1/core3/data
WServer_Windows/Server/ch1/core3/locale
WServer_Windows/Server/ch1/core3/log
WServer_Windows/Server/ch1/core3/mark
WServer_Windows/Server/ch1/core3/package
WServer_Windows/Server/ch1/processor/data
WServer_Windows/Server/ch1/processor/locale
WServer_Windows/Server/ch1/processor/log
WServer_Windows/Server/ch1/processor/mark
WServer_Windows/Server/ch1/processor/package
WServer_Windows/Server/ch99/data
WServer_Windows/Server/ch99/locale
WServer_Windows/Server/ch99/log
WServer_Windows/Server/ch99/mark
WServer_Windows/Server/ch99/package
WServer_Windows/Server/db/log
WServer_Windows/Server/db/locale
WServer_Windows/Server/logs
WServer_Windows/Server/share/locale/quest/object
